*{
    box-sizing: border-box;
    font-family: Source Sans Pro;
    text-decoration: none;
    list-style: none;
}
body{
        min-height: 100vh;
        color: #000;
}
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    padding: 20px 6%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    z-index: 1000; 
    background: #FF6565;  
    text-transform: capitalize;          
}
.main{
    width: 100%;
    height: calc(100vh - 100px);
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header li{
    list-style: none;
    display: inline-flex;
    padding: 0 15px;
    font-size: 3.2vmin;
    font-weight: 400px;
}

header a{
    border-bottom: solid transparent 2.8px;
    transition: .4 ease;
    text-decoration: none;
    color: #000;
}
header a:hover{
    border-bottom: solid #7d0202 2.8px;
    color: #f5f3f3;
}

.new_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #000;
    font-family: Source Sans Pro;
}
section h2{
    font-size: 4.6vmin;
    font-weight: bold;
    margin-top: 80px;
}
section p{
    font-size: 2vmin;
    font-weight: lighter;
    margin-top: 60px;
}
.contain{
    display: flex;
    flex-direction: row;
    margin: 80px 20px;
    padding: 10px;
    align-items: center;
}
.card-1, .card-2, .card-3, .card-4{
    padding: 26px;
}

