body {
    display: flex;
    flex-direction: column;
}

   
main {
    background-color: burlywood;
    display: flex;
    flex-direction: row;
    flex: auto;
}
article {
    flex: 2;
    overflow-y: auto;
}
aside {
    flex: 1;
    overflow-y: auto;
}
.side {
    background-color: rgb(162, 164, 165)
}